
@import "tailwindcss";
@config "../../tailwind.config.cjs";
@plugin "@tailwindcss/typography";
@source '../../../../src/**/*.md';
@source '../../../**/*.{vue,ts}';
@custom-variant dark (&:is(.dark *));

@font-face{
  font-family: Outfit;
  font-display: auto;
  src:url("Outfit-VariableFont_wght.woff") format("woff")
}

.prose {
  --tw-prose-headings: var(--foreground-color);
  --tw-prose-body: var(--foreground-color);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #d8fa00 30%,
    #ee7309
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #d8fa00 50%,
    #ee7309 50%
  );
  --vp-home-hero-image-filter: blur(44px);
  --main-color-1: #ee7309;
  --main-color-2: #b45400;
  --vp-button-brand-bg: var(--main-color-1);
  --vp-c-brand-1: var(--main-color-1);
  --vp-c-brand-2: var(--main-color-2);
  --vp-button-brand-hover-bg: var(--main-color-2);

  scroll-behavior: smooth;
}

/* 暗黑模式细节调整 */
.dark {
  --main-color-1: #d8fa00 !important;
  --main-color-2: #a2bb02 !important;

  --vp-c-text-1: #c0bab2 !important;

  .VPButton.brand {
    color: black;
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

.vp-doc p {
  /*text-indent: 2em;  设定正文首行缩进 待考据 暂时移除 */
  line-height: 24px;
  /* 设定正文行高 */
  margin: 8px 0;
  /* 设定正文段落间距 */
}

@media only screen and (min-width: 900px) {
  html.dark .Layout {
    position: relative;
  }

  /* 使用伪元素固定背景 */
  html.dark .Layout::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/pc-page-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    z-index: -1;
    /* 让背景在所有内容之下 */
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }

  /* 文章背景压暗亮度 */
  html.dark #VPContent:not(.is-home) {
    background: rgba(27, 27, 31, 0.7);
  }

  /* 首页标题栏高斯模糊及背景色设置 */
  html.dark .VPNavBar:not(.has-sidebar):not(.home.top),
  html.dark .VPNavBar:not(.top) {
    background-color: rgba(27, 27, 31, 0.3) !important;
  }

  html .VPNavBar:not(.has-sidebar):not(.home.top),
  html .VPNavBar:not(.top) {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  /* 顶部菜单栏高斯 */
  .VPNavBar:not(.top) .content-body {
    position: relative;
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    backdrop-filter: saturate(50%) blur(8px);
  }

  /* 根据明暗主题分别设置背景色 */
  html .VPNavBar:not(.top) .content-body {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  html.dark .VPNavBar:not(.top) .content-body {
    background-color: rgba(27, 27, 31, 0.3) !important;
  }
}

/* 对话框样式 使用时应当在frontmatter添加以下根类*/
.knockChat {
  .contacts {
    color: #2155e2;
    text-indent: 0em !important;
  }

  .me {
    color: #ffa900;
    text-indent: 0em !important;
  }

  .main p:not(.contacts):not(.me) {
    text-indent: 0em;
    margin-left: 2em;
    padding: 10px 12px;
    border-radius: 8px 8px 8px 8px;
    background-color: #eff0f1;
    max-width: calc(100% - 100px);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: fit-content;
  }
}

html.dark .knockChat .main p:not(.contacts):not(.me) {
  background-color: #262626;
}

/* 合作者档案样式 */
.archive {
  details img {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000;
    vertical-align: middle;
    object-fit: cover;
    display: inline-block;
    box-shadow: 0 0 10px #ccc;
  }

  table img {
    max-width: 8rem;
  }
}

/* 开始页面宫格引导样式 */
.Started {
  @media (min-width: 640px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
    }
  }

  .grid {
    padding-top: 24px;
    display: grid;
    grid-row-gap: 8px;
  }

  .page-link {
    margin-right: auto;
    text-align: left;
    display: block;
    border: 1px solid var(--vp-c-divider);
    border-radius: 8px;
    padding: 11px 16px 13px;
    width: 100%;
    height: 100%;
    transition: border-color 0.25s;

    img {
      width: 4rem;
      height: auto;
      overflow: hidden;
      vertical-align: middle;
      object-fit: cover;
      display: inline-block;
      margin: 0 5px;
    }
  }

  .page-link:hover {
    border-color: var(--vp-c-brand-1);
  }

  .page-title {
    display: inline-block;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--vp-c-brand-1);
    transition: color 0.25s;
  }

  .pager a {
    text-decoration: inherit;
  }
}

.database {
  img {
    width: 128px;
    margin: 10px;
    border: #000 5px solid;
    border-radius: 5px;
  }
}

.Story {
  .vp-doc {
    font-family: "Segoe UI", "PingFang SC", sans-serif;
    line-height: 1.6;
    color: var(--vp-c-text-1);
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 1.1rem;
  }
  /* 隐藏右侧导航栏 */
  .aside {
    display: none !important;
  }

  /* 场景描述样式 */
  .vp-doc .scene {
    display: block;
    font-style: italic;
    color: #888;
    margin: 1.5em 0;
    padding-left: 1em;
    border-left: 2px solid var(--main-color-1);
  }

  /* 角色对话容器 */
  .vp-doc .dialogue {
    margin: 1.2em 0;
    position: relative;
    padding-left: 1.5rem;
    font-weight: bold;
  }
  .dialogue::before {
    content: "“";
    position: absolute;
    left: 0;
    top: -0.5rem;
    font-size: 2.5rem;
    color: var(--main-color-1);
    font-family: Georgia, serif;
  }

  /* 角色名称标签 */
  .vp-doc .speaker {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  /* 特殊强调对话 */
  .vp-doc .emphasis {
    color: var(--main-color-2);
    font-weight: bold;
  }

  /* 动作描述 */
  .vp-doc .action {
    background: rgba(0, 0, 0, 0.03);
    padding: 0.5rem;
    border-radius: 4px;
    margin: 1.2rem 1.5rem;
    font-size: 0.9em;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    color: rgb(255, 162, 0);
  }

  /* 在绳网情报站角色界面通过以下js获取主题色 */
  /* document.getElementsByClassName("entry-scroll")[0].style.cssText.replace(";","").split(": ")[1] */
  /* 背景色直接通过主色加33(20%透明度) */

  /* 安比 */
  .anby {
    background: #c8e16c33;
    color: #b3cc58;
  }
  /* 比利 */
  .billy {
    background: #af3e3a33;
    color: #cc4f4b;
  }
  /* 妮可 */
  .nico {
    background: #e6adaa33;
    color: #cd8583;
  }
  /* 白佬 */
  .whitebeard {
    background: #949494;
    color: #ffffff;
  }
  /* 玲 */
  .belle {
    background: #fd802d;
    color: #002aff;
  }
  /* 哲 */
  .wise {
    background: #fd802d;
    color: #ffffff;
  }
  .npc {
    background: #7c7c7c46;
    color: dodgerblue;
  }

  /* 暗黑模式适配 */
  .dark .vp-doc {
    .scene {
      color: #aaa;
      border-left-color: var(--main-color-1);
    }
    .action {
      color: #bbb;
    }
  }

  /* 移动端适配 */
  @media (max-width: 640px) {
    .vp-doc {
      .speaker {
        display: block;
        margin-bottom: 0.3em;
      }
      .line {
        width: 100%;
        padding-left: 1em;
      }
      .action {
        margin-left: 1em;
      }
    }
  }
}
