:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #d8fa00 30%,
    #ee7309
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #d8fa00 50%,
    #ee7309 50%
  );
  --vp-home-hero-image-filter: blur(44px);
  
  --main-color-1:#ee7309;
  --main-color-2:#b45400;
  --vp-button-brand-bg: var(--main-color-1);
  --vp-c-brand-1:var(--main-color-1);
  --vp-c-brand-2:var(--main-color-2);
  --vp-button-brand-hover-bg: var(--main-color-2)

}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
